/*General Styling*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


:root{
    --very-dark-blue:hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet:hsl(277, 64%, 61%);
    --white:hsl(0, 0%, 100%);
    --slightly-trasnparent-white-paragraph:hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-text: hsla(0, 0%, 100%, 0.6);
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


body{
    background-color:var(--very-dark-blue);
}

p{
    font-size:16px;
}

.card-container{
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    width:70vw;
    margin:20vh auto;
}

.content-section{
    background-color: var(--dark-desaturated-blue);
    width:540px;
    height:100%;
    border-radius: 10px 0 0 10px;
    padding: 60px 50px 30px ;
}

.content-section >*{
width: 400px;
}



/*End of General Styling*/



/*Card Heading/Text Section*/


.card-title{
    margin-top: 10px;
    font-family:'Inter', sans-serif;
    color: var(--white);
    font-size: 2rem;
    
}

.insights{
    color:var(--soft-violet);
}


.card-text{
    margin:40px 0;
    font-family:'Inter', sans-serif;
    color:var(--slightly-trasnparent-white-paragraph);
    font-weight: 400;
    line-height: 1.7rem;
  
}

/*End of Card Heading/Text Section*/

/*Stat Section*/
.stat-section{
margin-top: 100px;
display: flex;
justify-content: space-between;
}

.stat-title{
    font-family:'inter', sans-serif; 
    color:var(--white);
    font-weight: 700;
}

.stat-text{
    font-size:0.8em;
    font-family:'Lexend Deca', sans-serif; 
    color:var(--slightly-transparent-white-stat-text);
    font-weight: 400;
    text-transform: uppercase;
    padding:5px 0;
    letter-spacing: 1px;
}
/*End of Stat Section*/

/*Image Section*/
.card-image{
height: 100%;
border-radius: 0 10px 10px 0;
}
/*End of Image Section*/